/* Ensure the layout is split between the navigation and content */
.homepage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 20px;
}

/* Common styles for all feature tiles */
.feature-tile {
    flex: 0 0 300px;
    padding: 20px;
    background-color: #272727;
    color: white;
    overflow-y: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature-tile h2 {
    text-align: left;
    margin-bottom: 20px;
}

/* Specific styles for each feature tile (Notes, Tasks, Notebooks, Tags) */

/* Tasks section */
.tasks-feature-tile h2 {
    color: white;
}

/* Notes section */
.notes-feature-tile h2 {
    color: white;
}

/* Notebooks section */
.notebooks-feature-tile h2 {
    color: white;
}

/* Tags section */
.tags-feature-tile h2 {
    color: white;
}

/* Task item styling */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #333;
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.task-title {
    font-weight: bold;
    flex: 2;
    margin-right: 10px;
    /* Add spacing between title and status */
}

.task-status {
    flex: 1;
    text-align: center;
    margin-right: 10px;
    /* Add spacing between status and due date */
}

.task-due-date {
    flex: 1.5;
    text-align: right;
}

.task p {
    margin: 0;
}

.task.completed {
    text-decoration: line-through;
    color: grey;
}

/* Center the tasks within the ul */
.tasks-feature-tile ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
