/* Ensure the layout is split between the navigation and content */


.homepage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    flex-grow: 1;
    padding: 20px;
}


.feature-tile {
    flex: 0 0 300px;
    padding: 20px;
    background-color: #272727;
    color: white;
    overflow-y: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.feature-tile h2 {
    text-align: center;

    margin-bottom: 20px;
}

.feature-tile ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.feature-tile li {
    margin-bottom: 10px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #333;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.task.completed {
    text-decoration: line-through;
    color: grey;
}
