/* Global styles */
* {
    font-family: "Poppins";
    font-weight: 500;
    box-sizing: border-box;
    /* Add this to ensure consistent box-sizing */
    margin: 0;
    padding: 0;
}

/* Ensure the body and html take full height */
body,
html {
    height: 100%;
    background-color: #272727;
}
